/* Blocks
--------------------------------------------- */


/* Editor
--------------------------------------------- */
.block-editor-block-list__layout {
  .wp-block-group {
    border: .5em solid var(--color-gamma);
    transition: all .25s;

    &:hover {
      border-style: dashed;
    }

    &__inner-container {
      padding: 1em;
    }
  }
}

.acf-block-preview {
  .post-content-card__link:after {
    display: none;
  }
}