.sticky {
 display: block;
}

.page-content {
  background: var(--color-epsilon);
}

.page:not(body) {
  background: var(--color-epsilon);
  padding: var(--side-pad);
}

.post {
  background: var(--color-epsilon);
 margin: 0 0 4rem;
  padding: var(--side-pad);

  .no-sidebar & {
    background: transparent;
    margin: 0;
    padding: 0;
  }
}

.updated:not(.published) {
 display: none;
}

.page-header {
  background: var(--color-epsilon);
  margin-bottom: 2rem;
  padding: var(--side-pad);
}

.page-title {
  margin: 0;
}

.entry-title {
  margin-top: 1.5rem;
}

.post-thumbnail {
  @include clear-link;
  background: white;

  img {
    display: block;
  }
}

.entry-meta {
  margin-bottom: 1.5rem;
}

.entry-content,
.entry-summary {
 margin: 1.5em 0 0;
}

.edit-link {
  margin: 0 1rem;
}

.page-links {
 clear: both;
 margin: 0 0 1.5em;
}

.entry-footer {
  margin-bottom: 1rem;
}
