.post-content-card {
  background: transparent;
  margin: 0 0 2rem;
  overflow: hidden;
  padding: 0;
  position: relative;

  &__img-fallback,
  .attachment-post-thumbnail {
    display: block;
    height: 100%;
    object-fit: cover;
    transition: all .25s;
    width: 100%;
  }

  &__img-fallback {
    
    @include breakpoint("md-up") {
      min-height: 400px;
    }
  }

  &__overlay {
    background: var(--color-beta);
    color: white;
    padding: 1rem;

    @include breakpoint("md-up") {
      
      @include overlay;
      align-items: center;
      background: rgba(0, 0, 0, .7);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
      text-align: center;
    }
  }

  &__title {
    line-height: 1.2;
    margin-top: 1rem;

    @include breakpoint("md-up") {
      margin: 0;
    }
  }

  &__link {
    
    @include breakpoint("md-up") {
      position: static;

      &::after {
        
        @include overlay;
        content: "";
        background: transparent;
      }

      &::before {
        display: none;
      }
    }
  }

  &__content {
    
    @include breakpoint("md-up") {
      max-height: 0;
      overflow: hidden;
      transition: all .5s;
    }
  }

  &:focus,
  &:focus-within,
  &:hover {
    
    @include breakpoint("md-up") {
      
      .post-content-card__overlay {
        background: rgba(0, 0, 0, .9);
      }

      .post-content-card__title {
        border-bottom: 3px solid var(--color-gamma);
        margin-bottom: 1rem;
        padding-bottom: 8px;
      }

      .post-content-card__link::before {
        background: var(--color-gamma);
      }

      .attachment-post-thumbnail {
        transform: scale(1.2, 1.2);
      }

      .post-content-card__content {
        max-height: 10rem;
      }
    }
  }
}
