.site-footer {
  background: var(--color-beta);
  color: white;
  opacity: .9;
  padding: var(--section-pad);

  @include breakpoint("md-down") {
    border-top: 1px solid var(--color-alpha);
  }

  a {
    color: white;

    @include breakpoint("md-down") {
      margin-bottom: 1rem;
    }
  }
}
