.site-header {
  align-items: center;
  background: white;
  display: flex; 
  flex-direction: column;
  justify-content: center;

  @include breakpoint("md-up") {
    border-bottom: 3px solid var(--color-beta);
    flex-direction: row;
  }
}

.site-branding {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;

  @include breakpoint("md-up") {
    justify-content: flex-start;
    flex: 1 0 auto;
    flex-direction: row;  
    margin-right: 2rem;
    padding: 1rem 2rem 1rem 1rem;
  }
}

.custom-logo-link {
  @include clear-link;
  border: .25rem solid var(--color-beta);
  border-radius: 50%;
  display: block;
  flex: 0 1 auto;
  height: 7rem;
  margin-bottom: 1rem;
  overflow: hidden;
  width: 7rem;

  @include breakpoint("md-up") {
    margin-bottom: 0;
    margin-right: 1em;
  }
}

.custom-logo {
  display: block;
  height: 100%;
  object-fit: cover;
}

.site-title {
  margin: 0;

  a {
    @include clear-link;
    display: block;
    font-size: 2rem;
  }
}

.site-description {
  margin: 0;
}
