.page-template-portfolio {
  
  .site {
    background-size: cover;
  }

  .page {
    background: transparent;
  }

  .entry-title {
    background: rgba(255, 255, 255, .5);
    text-align: center;
  }
}

.portfolio {
  margin: 0 auto;
  max-width: 1200px;

  &__item {
    margin-bottom: 5rem;

    @include breakpoint("md-up") {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(4, auto) 1rem;
    }

    & > * {
      transition: all .5s;

      @include breakpoint("md-up") {
        box-shadow: 5px 5px 15px 5px rgba(51, 51, 51, .85);
      }
    }

    &__img {
      display: block;
      grid-column: 1 / span 6;
      grid-row: 3 / span 3;
      filter: grayscale(1);
      width: 100%;
    }

    &__title {
      background: var(--color-gamma);
      grid-column: 4 / span 3;
      grid-row: 2 / span 2;
      font-size: 2rem;
      margin: 0;
      padding: 1rem 2rem;
      text-align: center;
      z-index: 50;

      @include breakpoint("md-up") {
        margin-top: 1rem;
      }
    }

    &__content {
      background: var(--color-epsilon);
      grid-column: 7 / span 6;
      grid-row: 2 / span 6;
      padding: 1rem 1.5rem;
      z-index: 100;

      @include breakpoint("md-up") {
        padding: 2rem 2.5rem;
      }

      & > :last-child {
        margin-bottom: 0;
      }
    }

    &__btn {
      grid-column: 9 / span 3;
      grid-row: 7 / span 2;
      position: relative;
      z-index: 200;

      @include breakpoint("md-down") {
        border: 0;
        width: 100%;
      }

      &:hover {
        box-shadow: none;
      }
    }
  
    &:hover {

      .portfolio__item__img {
        filter: grayscale(0);
      }
    }
  }
}
