body,
html {
 height: 100%;
}

.site {
 background: url(images/bg-main-mb.jpg) bottom right fixed;
  background-size: cover;

 @include breakpoint("md-up") {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 640px) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
   "header header header"
   "sidebar main gutter"
   "footer footer footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
 }

  @include breakpoint("xl-up") {
    background-image: url(images/bg-main.jpg);
    background-size: 1280px;
  }
}

.site-header {
 grid-area: header;
}

.site-main {
 grid-area: main;
 overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.site-sidebar {
 grid-area: sidebar;

 @include breakpoint("md-up") {
    display: grid;
    grid-template-columns: 1fr max(17rem);
  }

  &__inner {
   grid-column: 2 / span 1;
  }
}

.site-footer {
 grid-area: footer;
}

@import "no-sidebar";
